body {

    font-family:'Roboto', sans-serif;
}
header {
    
    position:absolute;
    background-color:gray;
    color:white;
    text-align:center;
    height:10%;
    padding:5px;
    width:100%;
    top:0;

}

#f_left {
    position:absolute;
    background-color:blue;
    color:white;
    width:10%;
    height:15%;
    text-align:center;
    top:25%;
    left:5%;
}

#f_right {
    position:absolute;
    background-color:blue;
    color:white;
    width:10%;
    height:15%;
    text-align:center;
    top:25%;
    right:5%;
}

#image {
    position:absolute;
    top:25%;
    right:35%;

}

#l_list {
    position:absolute;
    border:5px solid black;
    height:10%;
    width:20%;
    top:45%;
    padding:5px;
 
}

#r_list {
    position:absolute;
    border:5px solid black;
    height:15%;
    width:20%;
    top:45%;
    right:0;
    padding:5px;
    
}

footer {
     position:absolute;
     background-color:gray;
     color:white;
     text-align:center;
     width:100%;
     height:10%;
     bottom:0;

}